# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
Python, R Language, SQL, Pandas, Visualization etc.

Some of the popular languages that Data Scientists use are:
- 1 Python
- 2 R
- 3 SQL
- 4 Julia
- 5 Java
- 6 C++

Some of the commonly used libraries used by Data Scientists include:
- 1.Pandas
- 2.NumPy
- 3.SciPy
- 4.Matplotlib
- 5.NLTK
- 6.NLP

|Data Science Tools |

--------------------

|Weka |

 |Scrapy|

 |Pandas|

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
# This a simple arithmetic expression to mutiply then add integers #    
(3*4)+5

17

In [40]:
# This will convert 200 minutes to hours by diving by 60 #

Hours = 200/60

In [46]:
print (Hours)

3.3333333333333335

## Author
Sunil Kushwaha